spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: dapi
  data:
    redis:
      port: ${redis.port}
      host: ${redis.host}
      password: ${redis.password}
      username: ${redis.username}
      lettuce:
        pool:
          max-active: 3
          max-idle: 1
          max-wait: 60s
          min-idle: 1
  profiles:
    active: dev
  datasource:
    dynamic:
      hikari:
        connection-test-query: select 1
        idle-timeout: 600000
        pool-name: hikariPool
        max-lifetime: 1800000
        connection-timeout: 30000
        min-idle: 1
        max-pool-size: 5
        is-auto-commit: true
        connection-init-sql: select 1
        is-read-only: false
      primary: master
      strict: false
      datasource:
        master:
          url: ${pg.url}
          username: ${pg.username}
          password: ${pg.password}
          p6spy: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    auto-mapping-unknown-column-behavior: warning
    cache-enabled: false
    default-executor-type: BATCH
    lazy-loading-enabled: false
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
springdoc:
  swagger-ui:
    path: /swagger-ui
    tags-sorter: alpha
    operations-sorter: alpha
    deep-linking: true
    display-operation-id: true
    show-extensions: true
    show-common-extensions: true
  group-configs:
    - group: default
      paths-to-match: /**
      packages-to-scan: com.duzy.controller
knife4j:
  enable: true
server:
  port: 8080
  tomcat:
    max-http-form-post-size: 100
debug: false
logging:
  file:
    path: ${logPath}
white-url-list: "/check/**,/api/login,/api/logout,/doc.html,/swagger-ui.html,/swagger-ui/**,/favicon.ico,/error,/index.html,/webjars/**,/v3/**,/log/**"
security:
  token:
    prefix: "Bearer "
    header-name: "Authorization"
wx:
  appid: wxc8efeccb21304480
  secret: 6a9dcf138a46dc2aae69c301746b1c0c
  token: zyd
  aeskey: QkP35kGrPRaYEjl1FXHugSQMjJQHw90YqQ3PArMdlhV